@model LoginViewModel
@{
    ViewBag.Title = "ログイン画面";
}
<h2>@ViewBag.Title</h2>
@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnSuccess = "onSuccess"
    };
}
@using (@Ajax.BeginForm("Login", "Login", ajaxOptions))
{
    <hr />
    @Html.AntiForgeryToken()
    @Html.MessageArea()
    <div class="form-group">
        @Html.LabelFor(m => m.UserId, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UserId, new { @class="form-control" })
        @Html.ValidationFieldFor(m => m.UserId)
    </div>
    <div class="form-group">
        <div>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-log-in"> ログイン</span>
            </button>
        </div>
    </div>
}
@section scripts
{
    <script>
        function onBegin(xhr) {
            PROTOTYPE.common.hideMessage();
            PROTOTYPE.common.hideValidationErrors();
        }

        /**
         * ログイン成功処理.
         */
        function onSuccess(data) {
            if (data.Result) {
                location.href = '@Url.Action("Index", "Test")';
                //window.open('@Url.Action("Index", "Test")');
                //window.open('about:blank', '_self').close();
            } else {
                PROTOTYPE.common.showMessage(data.Message);
                PROTOTYPE.common.showValidationErrors(data.Errors);
            }
        }
    </script>
}