@{
    // コントローラ名を取得
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Prototype</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Header")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Prototype</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/microsoftajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/prototype")
    @RenderSection("scripts", required: false)
    <script>
        $(window).on('beforeunload', function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Cancel", "Test")'
            });
        });
    </script>
</body>
</html>